notifications:
  email: false

# Quick boot options
sudo: false
cache:
  directories:
    - node_modules

# Ignore version tags
branches:
  except:
    - /^v[0-9]/

# Language options
language: node_js
before_install:
  - if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi
node_js:
  - 4
before_script:
  - npm prune
script:
  - npm test
  - npm run lint

# Npm publish options
deploy:
  skip_cleanup: true # keep the devDependencies
  provider: npm
  email: i59naga@icloud.com
  api_key:
    secure: k6YrmpWzR8PG+UFaBFJEZbwbhccSs7NSY2R9fJTdR3m9Dq1cJIPUdOrAniQSiXKsGWkPKBwGFTtJRT0pQKsq6J1C7z9AHaIDqLGnMPM4oQSZlEOVtL17+1Hdrkv8H+qz4ubatFDYB8GEYQ6Jb2GUEamcrAAlVGlALACpM8c77hl9Cokm/NZq+wPeYSlqD/1Ljscfd5oU0ANEQbAxsNqZmhqMZEU7h69zcpO7BnE7NNX9UeertE+ZLYUsPmt+LBxLLy/ep8aIASzST2RG3fKAw4Dx4dOwvm+hrwN+7v3pDvFtcPNtTgREDXV6+42iWKrDejrZaOYlZvK8BiAQekm3QwuNTNNBBmoK2ygscTeXV+/c5Fg7fO8H918Sbt5aXIfTjHiKwnCKx0aIavywRi4jWiDcOsn3JBHp92U9DnYnsUna75W6q2SoyBhD5bG2+AvQB/MJVFNVmb2OLD/4atGlNS452AIzXqwegpz1RL0MWOoldLRqg08NZr3868r/YgLv+eVbQvw1/2fHLb2G9MA2vsHLWj+k5dqWwHtnTZ+us8uT9oYZ6HRlUh0LvhBfBiCt7rdkXnS/pBiOBiLE8qa/vFOVayEE3NzoGJoQF9uWlGALiYDT4FiG2TZh/WMYPC3L5TZgDKXemxKhz9j5wxPnqwIG4O5D9XhE67+3Xiyb/Gg=
  on:
    node: 4
